body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #d0d0d0;
    color: #e9dede;
}
.con{
    display:inline-block;
    padding: 40px;
    margin: 10px 20px;
}
.inner{
    text-align: center;
            padding: 90px;
            border-radius: 10px;
            border-color: aqua;
            border-style: solid;
            border-width: 5px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            color: black;
            margin: 40px;
            display: inline-block;
}
.inner{ background-color: #ffc4c4; }
.jq{ background-color: #fff5b5; }
.inner h1{
    margin: 0;
    font-size: 24px;
}
.inner p{
    margin: 10px 0 20px;
    font-size: 16px;
}
.inner button{
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
}
.inner1{
    text-align: center;
            padding: 130px;
            border-radius: 10px;
            border-color:#333;
            border-style: solid;
            border-width: 5px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            color: black;
            margin: 40px;
            display: inline-block;
}
.ja{ background-color: #f7f2f2; }
.cp{ background-color: #d8f5e0; }
.inner1 h1{
    margin: 0;
    font-size: 24px;
}
.inner1 p{
        margin: 10px 0 20px;
        font-size: 16px;
}
.inner1 button{
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
}
.container{
    display: flex;
    justify-content: space-around;
    align-items:center; 

}
.box{
    width: 45%;
    background-color: lightseagreen;
    height: 130px;
    display: inline-block;
    border-style: solid;
    border-width: 5px;
    border-color: #d8f5e0;
    text-align: center;
    font-size: 100px;


}
.sub{
    display: inline-block;
    background-color: mediumpurple;
    width: 20%;
    padding: 1%;
    text-align: center;
    margin-left: 1%;
    margin-top: 30px;
    color:black;

}
#a2{
    background-color: coral;
}
#a3{
    background-color: #fff5b5;
}
#a4{
    background-color: lightslategray;
}
#a5{
    background-color: mediumturquoise;
}
#a6{
    background-color: white;
}
#a7{
    background-color: lightcoral;
}
#a8{
    background-color: lightsteelblue;
}
#a9{
    background-color: grey;
}
#a10{
    background-color: greenyellow;
}
#a11{
    background-color: goldenrod;
}
#a12{
    background-color: limegreen;
}
#a13{
    background-color: magenta;
}
#a14{
    background-color: hotpink;
}
#a15{
    background-color: darkviolet;
}
#a16{
    background-color: honeydew;
}